/* Font-Face Declaration
========================================================================== */

@font-face {
	font-family: "";
	src : url('') format("truetype");
}

@font-face {
	font-family: "";
	src : url('') format("truetype");
}